@model DLFeedBack360.ViewModel.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    //Layout = "~/Views/MyLayout.cshtml";
}

<h4>ForgotPasswordViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" style="background-color:mediumturquoise; border:solid;border-width:2px;width:100%;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" id="btnSendOTP" name="btn" value="Send OTP" class="btn btn-primary"/>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PassCode" class="control-label"></label>
                <input asp-for="PassCode" class="form-control" />
                <span asp-validation-for="PassCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="submit" id="btnsubmit" name="btn" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <div>
            <h4 style="color:hotpink">
                @{
                    @ViewBag.Result
                }
            </h4>
        </div>
        <br />
    </div>
</div>

